.Container {
    width: 100%;
    padding: 2rem;
    background-color: rgba(255, 210, 128, 0.5);
}

.ListContainer {
    /*border: 1px solid #FFA726;*/
    padding: 1rem;
}

.ListContainer table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.ListContainer td,
.ListContainer th {
    font-size: 1rem;
    padding: 0.8rem;
    text-align: center;
}

.ListContainer th{
    border-bottom: 2px solid #FFA726;
}

.ListFunction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.Button {
    background-color: #FFA726;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.Button:hover {
    box-shadow: 0 0 2px 2px #FFCC80;
}

.Button:active {
    box-shadow: none;
}

.Disabled {
    pointer-events: none;
    background-color: lightgray;
    color: white;
}

.CellButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}
