.Container {
    width: 100%;
    padding: 0 2rem;
    background-color: rgba(255, 210, 128, 0.5);
}

.ListContainer {

}

.ListContainer table {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
}

.ListContainer td,
.ListContainer th {
    padding: 0.8rem;
}
