.Container {
    width: 100%;
    padding: 1rem;
    border: 2px solid #FFA726;
    border-radius: 1rem;
    position: relative;
    margin-top: 2rem;
}

.Title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.SearchBarContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
    margin: 0 auto;
}

.SearchBar{
    border: 1px solid #FFA726;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}


.Button {
    background-color: #FFA726;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.Button:hover {
    box-shadow: 0 0 2px 2px #FFCC80;
}

.Button:active {
    box-shadow: none;
}
