.Container {
    padding: 1rem 2rem;
    border-bottom: 1px solid #FFA726;
}

.TitleArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.Title {
    font-size: 2rem;
    font-weight: bold;
}

.Greeting{

}

.LoginContainer {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
}

.Button{
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #FFA726;
    margin: 0 1rem;
}

.Button:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 2px #FFCC80;
}

.AccountContainer{

}

.AccountContainer .Button{
    background-color: #FFA726;
    color: white;
}

.SignUp{
    background-color: #FFA726;
    color: white;
}

.SignUp:hover{
    /*background-color:#FFCC80;*/
}

.SignUp:active{
    background-color:#FFCC80;
    transform: scale(1);
}

.Login{

}

.LinkContainer {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0 2rem;
}

.Link {
    transition: 0.1s;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.2s;
}

.Link:hover {
    box-shadow: 0 0 2px 2px #FFCC80;
}

.Active {
    background-color: #FFA726;
}

