.Container {
    padding: 1rem 15%;
    /*background-color: rgba(255, 210, 128, 0.5);*/
}

.TopSection {
    height: 4rem;
    width: 80%;
    margin: 1rem auto;
}

.TopTitle {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.Create {
    display: flex;
    justify-content: flex-end;
}

.ItemContainer {
    width: 80%;
    margin: 2rem auto 0;
    padding: 1rem 2rem;
    border: 1px solid #FFA726;
    border-radius: 0.5rem;
}

.ArticleContainer {
    text-align: center;
}

.Top {

}

.Title {
    font-size: 1.5rem;
    font-weight: bold;
}

.TopInfo {
    margin-top: 1rem;
    color: gray;
    font-size: 0.8rem;
    text-align: right;
}

.ImagesContainer {
    display: grid;
    align-items: center;
    margin: 1rem auto;
}

/* 1 image */
.Images_1Image {
    width: 40%;
    grid-template-columns: 1fr;
    gap: 0.4rem;
}

/* 2 or 4 images */
.Images_2or4Images {
    width: 60%;
    grid-template-columns: 1fr 1fr;
    gap: 0.4rem;
}

/* 3 or 5 or more images layout */
.Images_3or5orMore {
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.4rem;
}

.ImageWrapper {
    width: 100%;
    height: 4rem;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid #FFA726;
}

.Image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Article {
    text-align: justify;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.Article ol,
.Article ul {
    margin: 0.5rem 0 1rem;
    padding-left: 2rem;
}

.Article ul {
    list-style-type: disc;
}

.Article ol {
    list-style-type: decimal;
}

.Article li::marker {
    font-size: 1rem;
}

.CommentContainer {
    width: 100%;
    padding: 1rem 1rem;
    margin: 0 auto;
    min-height: 2rem;
    border: 1px solid #FFA726;
    border-radius: 0.3rem;
}

.ButtonContainer{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.Button {
    background-color: #FFA726;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.Button:hover {
    box-shadow: 0 0 2px 2px #FFCC80;
}

.Button:active {
    box-shadow: none;
}

.Disabled {
    pointer-events: none;
    background-color: lightgray;
    color: white;
}

.ReplyContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;
}

.CommentEditor{

}

.ContentArea{
    border: 1px solid #FFA726;
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0 1rem;
}

.ReplyTo{
    border-bottom: 1px solid #FFA726;
    padding: 0.5rem;
}

.TextArea{
    width: 100%;
    height: 8rem;
    font-size: 1.2rem;
    padding: 1rem;
}

.CommentButtons{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}
